<!DOCTYPE html>
<html>
<head>
  <title>Borrows</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="_1Ee2eOzUi1a3Hu8FTxuFsubmrMuIa9nwGaIskm-TYE" />
  <link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/khfagnmmcigijajehdbeomfcimgfheak">
</head>
<body>

<div class="home-float">
		<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_16x16_style home-share">
				<a class="addthis_button_email"></a>
				<a class="addthis_button_facebook"></a>
				<a class="addthis_button_twitter"></a>
				<a class="addthis_button_linkedin"></a>
				<a class="addthis_button_google_plusone_share"></a>
				<a class="addthis_button_pinterest_share"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530ee7046fcbd127"></script>
		<!-- AddThis Button END -->
		<h1>Borrowing > Buying</h1>
		</br>
		<p>Need something just the once or twice? Don't want to spend money buying or renting or time browsing around? We help you find what you need from your friends. We make sure to only ping the folks who have what you need, because we hate spam too!</p>
		</br>
		<div class="col-xs-4">
			<a href="<%= new_signup_path %>" class="btn btn-primary btn-large btn-block home-btn" role="button">Add me to the waitlist! (SF area only)</a>
			<p style="font-size:55%;"><i>If you refer the <b>86th</b> person to sign up, both you & your friend who signs up will get a gift!</i></p>
		</div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-primary btn-large btn-block home-btn" onclick="chrome.webstore.install()">Remind me to borrow! (Chrome only)</button>
			<p style="font-size:55%;"><i>Helpful add-on reminds you to borrow when you're searching for items on the Internet.</i></p>
		</div>
		<div class="col-xs-4">
			<a href="<%= new_request_path %>" class="btn btn-primary btn-large btn-block home-btn" role="button">Log me in to borrow!</a>
			<p style="font-size:55%;"><i>If we've reached out with log in information, please borrow something today! <a href="http://www.jamesdong.com/contacts/new" style="color: grey" target="_blank"><u>Contact us.</u></i></p>
		</div>
</div>

<div id="HomeCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#HomeCarousel" data-slide-to="1"></li>
		<li data-target="#HomeCarousel" data-slide-to="2"></li>
		<li data-target="#HomeCarousel" data-slide-to="3"></li>
	</ol>

	<div class="carousel-inner">
		
		<div class="item active">
			<div class ="fill" style="background-image: url(<%= asset_path 'Camping.jpg' %>);">
				<!--source: http://hdwallpapersci.com/wp-content/uploads/2013/11/dsfsdf1.jpg-->
				<div class="carousel-caption">
					<h2>Because you deserve a weekend adventure off-the-grid</h2>
					<h4>Step 1 - Borrow a tent, bag, pad, pack</h4>
					<h4>Step 2 - Begin your epic journey!</h4>
			    </div>
			</div>
		</div>

		<div class="item">
			<div class ="fill" style="background-image: url(<%= asset_path 'Volleyball.jpg' %>);">
				<!--source: http://www.wallsave.com/wallpapers/1920x1080/beachvolleyball/414822/beachvolleyball-beach-volleyball-serving-jump-hd-and-414822.jpg-->
				<div class="carousel-caption">
					<h2>Because a group of your friends are all free on a Sunday</h2>
					<h4>Step 1 - Borrow a ball & net</h4>
					<h4>Step 2 - Head to the nearest beach!</h4>
			    </div>
			</div>
		</div>

		<div class="item">
			<div class ="fill" style="background-image: url(<%= asset_path 'Interior.jpg' %>);">
				<!--source: http://img.wallpaperstock.net:81/beautiful-furniture-wallpapers_17618_1920x1080.jpg-->
				<div class="carousel-caption">
					<h2>Because it's nice to have something to show for your work</h2>
					<h4>Step 1 - Borrow some tools</h4>
					<h4>Step 2 - Recreate your world!</h4>
			    </div>
			</div>
		</div>

		<div class="item">
			<div class ="fill" style="background-image: url(<%= asset_path 'Skiing.jpg' %>);">
				<!--source: http://www.wallpapersdesign.net/wallpapers/2013/12/Ski-Jump-1080x1920.jpg-->
				<div class="carousel-caption">
					<h2>Because it might be the closest you'll ever get to flying</h2>
					<h4>Step 1 - Borrow warm layers & protective gear</h4>
					<h4>Step 2 - Hit the slopes!</h4>
			    </div>
			</div>
		</div>

	</div>
		
	<a class="left carousel-control" href="#HomeCarousel" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
  	</a>
  	<a class="right carousel-control" href="#HomeCarousel" data-slide="next">
   		<span class="glyphicon glyphicon-chevron-right"></span>
  	</a>

</div>

</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47062117-1', 'borrows.herokuapp.com');
  ga('send', 'pageview');

	
//autocycles carousel
$('.carousel').carousel({
  interval: 4000
})

</script>

<%#= debug(params) if Rails.env.development? %>
</body>
</html>