          <% if @itemrecord.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  <p>The form contains <%= pluralize(@itemrecord.errors.count, "error") %>:</p>
                </br>
                <ul>
                <% @itemrecord.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
                </div>
              </div>
          <% end %>

          <div class="row">

            <div class="col-xs-12">
              <hr>
              <h3><%= @pagetitle %></h3></br>
              <h4><%= session[:signup_email] %></h4></br>
              <!-- something around the items you've already lent out -->
            </div>
                   
              <%= form_for @itemrecord do |f| %>
                
                <div class="col-xs-12">
                  <p><b>Items people are asking for</b></p>
                </div>

                <% @wishlist.each do |category, list| %>
                  <div class="col-xs-2">
                    <div class="form-group box">
                      <h5> <%="#{category}"%> </h5>
                        <% list.each do |thing| %>
                            <%= check_box_tag ":item_name[]", "#{thing}" %>
                          </br>
                        <% end %>
                    </div>
                  </div>  
                <% end %>

                  <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block" %>
                </div>
              
              <% end %>

          </div>