
          <div class="row">

            <div class="col-xs-12">
              <hr>
              <h3><%= @pagetitle %></h3></br>
              <h4><%= session[:signup_email] %></h4></br>
              <!-- something around the items you've already lent out -->
            </div>
                   
              <%= form_tag inventories_path method: :post do %>
                
                <div class="col-xs-12">
                  <p><b>Items people are asking for</b></p>
                </div>

                <% @wishlist.each do |category, list| %>
                  <div class="col-xs-2">
                    <div class="form-group box">
                      <h5> <%="#{category}"%> </h5>
                        <% list.each do |thing| %>
                            <%= number_field_tag "#{thing}", :quantity, min: 0, placeholder: 0 %>
                            <%= label_tag "#{thing}" %>
                          </br>
                        <% end %>
                    </div>
                  </div>  
                <% end %>

                  <%= submit_tag "Go!", class: "btn btn-primary btn-large btn-block" %>
                </div>
              
              <% end %>

          </div>