
<% if @signup_parent.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <p>Please correct the following error(s):</p>
      </br>
      <ul>
      <% @signup_parent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
<% end %>

<div class="row">
         
    <%= form_tag inventories_path method: :post do %>
      
      <div class="col-xs-12">
        <p><b>Items people are asking for</b></p>
      </div>

      <% @itemlist.each do |category, list| %>
        <div class="col-xs-2">
          <div class="form-group box">
            <h5> <%="#{category}"%> </h5>
              <% list.each do |thing| %>
                  <%= number_field_tag "#{thing}", :quantity, min: 0, placeholder: 0 %>
                  <%= label_tag "#{thing}" %>
                </br>
              <% end %>
          </div>
        </div>  
      <% end %>

        <%= submit_tag "Go!", class: "btn btn-primary btn-large btn-block" %>
      </div>
    
    <% end %>

</div>