  
  <% if @inventory.errors.any? %>
    <div class="alert alert-danger">
      <p>Please correct the following error(s):</p>
      <ul>
        <% @inventory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "layouts/flash" %>

  <div class="col-xs-12 box">
    <h4>Add information</h4>
    <h5><%= "Item: #{@inventory.item_name}" %></h5>
    <%= form_for @inventory, url: {action: 'update'} do |f| %>
      <div class="form-group">
        <%= f.label "Add a link to the item online or a short description to help ensure we match your item with the right borrower" %>
        <%= f.text_field :description %>
      </div>  
      <div class="form-group">
        <%= f.submit "Update!", class: "btn btn-primary btn-large btn-block" %>
      </div>
    <% end %>
  </div>