<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'inventories', action: 'index')  do |f| %>
    <%= f.label "Item" %>
    <%= f.collection_select :itemlist_id_eq, Itemlist.select { |i| Inventory.find_by_itemlist_id(i.id)}.sort, :id, :name, include_blank: true %>
    <%= f.label :signup_email_cont %>
    <%= f.search_field :signup_email_cont %>
    <%= f.label :available_eq, "Available? nil = removed, false = temp n/a" %>
    <%= f.select :available_eq, [true, false], include_blank: true %>
    <%= f.submit %>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, 'signups.email', "Email") %></th>
        <th>Item</th>
        <th>Description</th>
        <th>Available</th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td><%= inventory.signup.email %></td>
          <td>
            <% if inventory.available == false %>
              <%= "<span id='name_#{inventory.id}'>#{Itemlist.find_by_id(inventory.itemlist_id).name}</span> <br> <span style='color:red;', id='not_available_#{inventory.id}'>Not available</span>".html_safe %>
            <% else %>
              <%= "<span id='name_#{inventory.id}'>#{Itemlist.find_by_id(inventory.itemlist_id).name}</span>".html_safe %>
            <% end %>
          </td>
          <td>
            <% if inventory.description.blank? %>
              <%= form_for inventory, url: edit_inventory_path(inventory), method: :patch, :html => {:class => "form-inline", :autocomplete => "off"} do |f| %> 
                <div class="form-group col-xs-10" style="padding:1px;">
                  <%= f.text_field :description, class: "form-control", id: "inventory_description_#{inventory.id}", placeholder: "Add a link or description" %>
                </div>
                <div class="form-group col-xs-2" style="padding:1px;">
                  <%= f.submit "Add", class: "btn btn-default btn-default btn-block", id: "add_description_#{inventory.id}"%>
                </div>
              <% end %>
            <% else %>
              <%= "<span id='description_#{inventory.id}'>#{inventory.description}. #{link_to 'CHANGE', destroy_description_path(inventory), method: :patch, id: "update_description_#{inventory.id}"}</span>".html_safe %>
            <% end %>
          </td>
          <td><%= inventory.available %></td>
          <td>
            <% if Borrow.where(inventory_id: inventory.id).select { |b| (b.request.pickupdate > Date.today) || b.request.returndate > Date.today }.count == 0  %>
            <%# if Borrow.where(inventory_id: inventory.id).select { |b| b.status1 == 2 && b.request.pickupdate > Date.today }.count == 0 %>
            <!-- make so that toggling/ removing have similar effects to decline all -->
              <div style="padding:1px; ">
                <%= button_to 'Toggle availability', toggle_available_path(inventory), method: :patch, class: "btn btn-default btn-default btn-block", id: "toggle_#{inventory.id}", data: { confirm: "When will this item be available again? If you email us the date today, we'll automatically turn it back on for you in the future!" } %>
              </div>
              <div style="padding:1px; ">
                <%= button_to 'Remove', inventory, method: :delete, class: "btn btn-default btn-default btn-block", id: "remove_#{inventory.id}", data: { confirm: "Are you sure this item is no longer up for sharing?" } %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

