<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'inventories', action: 'index')  do |f| %>
    <%= f.label "Item" %>
    <%= f.collection_select :itemlist_id_eq, Itemlist.select { |i| Inventory.find_by_itemlist_id(i.id)}.sort, :id, :name, include_blank: true %>
    <%= f.label :signup_email_cont %>
    <%= f.search_field :signup_email_cont %>
    <%= f.label :available_eq, "Available? nil = removed, false = temp n/a" %>
    <%= f.select :available_eq, [true, false], include_blank: true %>
    <%= f.submit %>
  <% end %>
</div>

<%= render "layouts/lenderdashboard" %>