<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'inventories', action: 'index')  do |f| %>
    <%= f.label :item_name_cont %>
    <%= f.search_field :item_name_cont %>
    <%= f.label :signup_email_cont %>
    <%= f.search_field :signup_email_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :item_name, "Item") %></th>
        <th>Description</th>
        <th><%= sort_link(@q, 'signups.email', "Email") %></th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td><%= inventory.signup.email %></td>
          <td><%= inventory.item_name %></td>
          <td>
            <% if inventory.description.blank? %>
              <%= form_for inventory, url: edit_inventory_path(inventory), method: :patch, :html => {:class => "form-inline", :autocomplete => "off"} do |f| %> 
                <div class="form-group col-xs-10" style="padding:1px;">
                  <%= f.text_field :description, class: "form-control", placeholder: "Add a link or description" %>
                </div>
                <div class="form-group col-xs-2" style="padding:1px;">
                  <%= f.submit "Add", class: "btn btn-default btn-default btn-block" %>
                </div>
              <% end %>
            <% else %>
              <%= inventory.description %>
            <% end %>
          </td>
          <td>
            <% if inventory.description.present? %>
              <div class="col-xs-6" style="padding:1px; ">
                <%= button_to 'New description', destroy_description_path(inventory), method: :patch, class: "btn btn-default btn-default btn-block" %>
              </div>
            <% end %>
              <div class="col-xs-6" style="padding:1px; ">
                <%= button_to 'Remove item', inventory, method: :delete, class: "btn btn-default btn-default btn-block", data: { confirm: 'Once removed, borrowers will no longer be able to see you have this item. To remove an item temporarily (i.e., for a personal trip), please notify us via email' } %>
              </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

