<head>
<meta charset="UTF-8">
<meta name="description" content="Manage borrower requests">
<meta name="robots" content="noodp">
</head>

<div class="col-xs-12" style="padding-bottom:1%;">
  <h4>
    <% if Rails.env != "test" %>
        <%="Lend away, #{@signup_parent.email}!"%>
    <% end %>
  </h4>

  <h5 style="font-size:90%; font-style:italic">
    Click to 
    <%= link_to "lend more stuff", new_inventory_path, { style: 'color:#428bca; display: inline-block', class: "btn-inline"}%>
    or to
    <%= link_to 'borrow something', new_request_path, { style: 'color:#428bca'}%>
  </h5>

  <p>In the table below, you'll be able to manage your items:</p>

  <ul>
    <li><b>Column 1:</b> cool thanks for sharing this!
    <li><b>Column 2:</b> add or change links or descriptions to help you keep track of who has what</li>
    <li><b>Column 3:</b> click YES or NO to manage requests; if you accept, we'll connect you via email with the borrower. If you have more than one outstanding request for one item, choose whomever!
    <li><b>Column 4:</b> click REMOVE to delete an item; click UNAVAILABLE to mark it temporarily unavailable (e.g., if you're going away). When you return, please click AVAILABLE so our borrowers can see it again! Note, you can only do this after clearing your outstanding requests</li>
  </ul>

</div>
<%= render "layouts/flash" %>

<%= render "layouts/lenderdashboard" %>