<div class="col-xs-12" style="padding-bottom:1%;">
  <h4>
    <% if Rails.env != "test" %>
      <% if request.referer.include? 'manage' %>
        <%="Lend away, #{@signup_parent.email}!"%>
      <% else %>
        <%="Step 2 of 2: Lend away, #{@signup_parent.email}!"%>
      <% end %>
    <% end %>
  </h4>

  <h5 style="font-size:90%; font-style:italic">
    Click to 
    <%= link_to 'lend more stuff', new_inventory_path, { style: 'color:#428bca; display: inline-block', class: "btn-inline"}%>
    or to
    <%= link_to 'borrow something', new_request_path, { style: 'color:#428bca'}%>
  </h5>

  <p>In the table below, you'll be able to add a description to the items you've listed (could also help you keep track of who has what), and accept or decline requests from borrowers (just click the word!). If you accept, we'll connect you with the borrower via email to make further arrangements. <i>Note: any duplication in requests is purposeful (e.g., a borrower might request multiple items).</i></p>
</div>
<%= render "layouts/flash" %>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-xs-2">Item</th>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-6">Requests</th>
        <!-- <th class="col-xs-1">Actions</th> -->
      </tr>
    </thead>

    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td><%= Itemlist.find_by_id(inventory.itemlist_id).present? ? Itemlist.find_by_id(inventory.itemlist_id).name : "Error" %></td>
          <td>
            <% if inventory.description.blank? %>
              <%= form_for inventory, url: edit_inventory_path(inventory), method: :patch, :html => {:class => "form-inline", :autocomplete => "off"} do |f| %> 
                <div class="form-group col-xs-10" style="padding:1px;">
                  <%= f.text_field :description, class: "form-control", id: "inventory_description_#{inventory.id}", placeholder: "Add a link or description" %>
                </div>
                <div class="form-group col-xs-2" style="padding:1px;">
                  <%= f.submit "Add", class: "btn btn-default btn-default btn-block", id: "add description #{inventory.id}"%>
                </div>
              <% end %>
            <% else %>
              <%= inventory.description %>
            <% end %>
          </td>
          <td>
         
              <ul>
                <% if Borrow.find_by_inventory_id(inventory.id).present? && Borrow.find_by_inventory_id(inventory.id).request.pickupdate.present? && Borrow.find_by_inventory_id(inventory.id).request.returndate.present? %>
                  <% Borrow.where(inventory_id: inventory.id).each do |borrow| %>
                    <% if Date.today > borrow.request.pickupdate %>
                    <% else %>
                      <% case borrow.status1 %>
                      <% when 2 %>
                        <li id="connected" style="font-size:90%"><%= "You've accepted a request from #{borrow.request.signup.email} from #{borrow.request.pickupdate.strftime("%B %-d")} to #{borrow.request.returndate.strftime("%-d")}. We've emailed both of you with details" %></li>
                      <% when 1 %>
                        <li id="manage" style="font-size:90%"><%= "#{link_to 'ACCEPT', lender_accept_path(borrow), method: :patch, id: "accept #{borrow.id}", style: "color:green;"} or #{link_to 'DECLINE', lender_decline_path(borrow), method: :patch, id: "decline #{borrow.id}", style: "color:gray"} &mdash; Requested by #{borrow.request.signup.email} from #{borrow.request.pickupdate.strftime("%B %-d")} to #{borrow.request.returndate.strftime("%-d")}. #{borrow.request.detail}".html_safe %></li>
                      <% else %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
   

          </td>
          <!-- <td>
            <!-- Another theoretically good thing would be to mark as in use for a specific period of time, where user enters the period of time, and then this simulates sending a request that's automatically accepted for that period of time, or i can add more attributes to the inventory item itself, but that might be hard because it might be unavailable for multiple periods of time -->
            <%#= button_to 'Update description', destroy_description_path(inventory), method: :patch, class: "btn btn-default btn-default btn-block" if inventory.description.present? %>
            <%#= button_to 'Decline all', '#', class: "btn btn-default btn-default btn-block" if inventory.borrows.count > 0 %>
            <%#= button_to 'Remove item', inventory, method: :delete, class: "btn btn-default btn-default btn-block", data: { confirm: 'Once removed, borrowers will no longer be able to see you have this item. To remove an item temporarily (i.e., for a personal trip), please notify us via email' } %> <!--also important is i'd have to say what happens to any open requests or accepted requests on an item that becomes removed -->
          <!-- </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>