<div class="col-xs-12" style="padding-bottom:1%;">
  <h4>
    <% if request.referer.include? 'manage' %>
      <%="Lend away, #{@signup_parent.email}!"%>
    <% else %>
      <%="Step 2 of 2: Lend away, #{@signup_parent.email}!"%>
    <% end %>
  </h4>

  <h5 style="font-size:100%; font-style:italic">
    <%= link_to '(I want to lend more stuff)', new_inventory_path, { style: 'color:#428bca'}%>
    <%= link_to '(I want to borrow)', new_request_path, { style: 'color:#428bca'}%>
  </h5>

  <p style="font-style:italic;">In the table below, you'll be able to add a short description to the items you've listed to share, and also accept or decline requests from borrowers. Thanks for making someone's day! A note on duplication: if a borrower wants 2 tents and you have 3 tents, you'll see this request reflected in each tent that you have, so that you have flexibility on which tent you want to lend. Once you make a selection, the other requests will automatically disappear.</p>
</div>
<%= render "layouts/flash" %>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-xs-2">Item</th>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-6">Requests</th>
        <!-- <th class="col-xs-1">Actions</th> -->
      </tr>
    </thead>

    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td><%= Itemlist.find_by_id(inventory.itemlist_id).name %></td>
          <td>
            <% if inventory.description.blank? %>
              <%= form_for inventory, url: edit_inventory_path(inventory), method: :patch, :html => {:class => "form-inline", :autocomplete => "off"} do |f| %> 
                <div class="form-group col-xs-10" style="padding:1px;">
                  <%= f.text_field :description, class: "form-control", placeholder: "Add a link or description to help borrowers and also to help us keep track of the specific item you are lending" %>
                </div>
                <div class="form-group col-xs-2" style="padding:1px;">
                  <%= f.submit "Add", class: "btn btn-default btn-default btn-block" %>
                </div>
              <% end %>
            <% else %>
              <%= inventory.description %>
            <% end %>
          </td>
          <td>
         
              <ul>
                <% inventory.borrows.each do |borrow| %>
                  <% if Invenborrow.where(borrow_id: borrow.id).where(inventory_id: inventory.id).present? %>
                    <% case Invenborrow.where(borrow_id: borrow.id).where(inventory_id: inventory.id).first.accepted %>
                      <% when true %>
                        <li><%= "Thanks for accepting the request from #{borrow.request.signup.email} from #{borrow.request.pickupdate.to_date} to #{borrow.request.returndate.to_date}. We have sent an email connecting you with the borrower." %></li>
                      <% when nil %>
                        <li><%= "#{link_to 'Accept', lender_accept_path(inventory_id: inventory.id, borrow_id: borrow.id), method: :patch}, #{link_to 'Decline', lender_decline_path(inventory_id: inventory.id, borrow_id: borrow.id), method: :patch}. Requested by #{borrow.request.signup.email} from #{borrow.request.pickupdate.to_date} to #{borrow.request.returndate.to_date}. #{borrow.request.detail}".html_safe %></li>
                      <% end %>
                  <% else %>
                  <% end %>
                <% end %>
              </ul>
   

          </td>
          <!-- <td>
            <!-- Another theoretically good thing would be to mark as in use for a specific period of time, where user enters the period of time, and then this simulates sending a request that's automatically accepted for that period of time, or i can add more attributes to the inventory item itself, but that might be hard because it might be unavailable for multiple periods of time -->
            <%#= button_to 'Update description', destroy_description_path(inventory), method: :patch, class: "btn btn-default btn-default btn-block" if inventory.description.present? %>
            <%#= button_to 'Decline all', '#', class: "btn btn-default btn-default btn-block" if inventory.borrows.count > 0 %>
            <%#= button_to 'Remove item', inventory, method: :delete, class: "btn btn-default btn-default btn-block", data: { confirm: 'Once removed, borrowers will no longer be able to see you have this item. To remove an item temporarily (i.e., for a personal trip), please notify us via email' } %> <!--also important is i'd have to say what happens to any open requests or accepted requests on an item that becomes removed -->
          <!-- </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>