<head>
<meta charset="UTF-8">
<meta name="description" content="List stuff to share">
<meta name="robots" content="noodp">
</head>

<div class="col-xs-12" style="padding-bottom:1%;">
  <h4>
    <% if @signup_parent.inventories.count > 0 %>
      <%="Yay for sharing more, #{@signup_parent.email}!"%>
    <% else %>
      <%="Step 2 of 2: Lend away, #{@signup_parent.email}!"%>
    <% end %>
  </h4>
  
  <h5 style="font-size:90%; font-style:italic">
    Click to 
    <% if @signup_parent.inventories.count > 0 %>
      <%= link_to 'manage borrower requests', manage_inventory_path, { style: 'color:#428bca'}%>
      or to
    <% end %>
    <%= link_to 'borrow something', new_request_path, { style: 'color:#428bca'}%>
  </h5>

  <p>Thank you for being kind, generous, and making someone's day! Please keep in mind:</p>
  <ul style="font-size:90%">
    <li>Below are all the items borrowers are asking for, camping stuff is especially hot! If you have something else you think would be cool to share, please <%= mail_to 'james@projectborrow.com', 'tell us', {style: 'color:#428bca'} %>.</li>
    <li>We value our lenders and want you to have a great experience, please reach out if you have any questions or concerns about the safety and care of your items, and feel free to review our <%= link_to "terms of service", terms_path, { style: "color:#428bca", target: "_blank" } %></li>
  </ul>
</div> 
<%= render "layouts/flash" %>

<%= render "layouts/inventoryform" %>
<!-- add a contact form in case they have anything else they'd like to share -->

    
    
