<div class="col-xs-12" style="padding-bottom:1%;">
  <h4>
    <% if @signup_parent.inventories.count > 0 %>
      <%="Yay for sharing more, #{@signup_parent.email}!"%>
    <% else %>
      <%="Step 2 of 2: Lend away, #{@signup_parent.email}!"%>
    <% end %>
  </h4>
  
  <h5 style="font-size:100%; font-style:italic">
    <% if @signup_parent.inventories.count > 0 %>
      <%= link_to '(I want to manage requests from borrowers)', manage_inventory_path, { style: 'color:#428bca'}%>
    <% end %>
    <%= link_to '(I want to borrow)', new_request_path, { style: 'color:#428bca'}%>
  </h5>

  <p style="font-style:italic;">First, you're awesome for being a lender. Thank you for being kind, generous, and... we could go on, but you get it. A few things to keep in mind:</p>
  <ul style="font-style:italic;">
    <li>Below are all the items borrowers are asking for, camping stuff is especially hot! If you have something else you think would be cool to share, please <%= mail_to 'james@projectborrow.com', 'tell us', {style: 'color:#428bca'} %>.</li>
    <li>We value our lenders and want you to have a great experience, please reach out if you have any questions or concerns about the safety and care of your items, and feel free to review our <%= link_to "terms of service", terms_path, { style: "color:#428bca", target: "_blank" } %></li>
  </ul>
</div> 
<%= render "layouts/flash" %>

<%= render "layouts/inventoryform" %>
<!-- add a contact form in case they have anything else they'd like to share -->

    