
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Status ID</th>
          <th>Description</th>
          <th>Action</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @all_status.each do |status| %>
          <tr>
            <td><%= status.id %></td>
            <td>
              <% if status.status_meaning.blank? %>
                <%= form_for status, url: edit_status_path(status), method: :patch, :html => {:class => "form-inline", :autocomplete => "off"} do |f| %> 
                  <div class="form-group col-xs-10" style="padding:1px;">
                    <%= f.text_field :status_meaning, class: "form-control", placeholder: "Write description" %>
                  </div>
                  <div class="form-group col-xs-2" style="padding:1px;">
                    <%= f.submit "Add", class: "btn btn-default btn-default btn-block" %>
                  </div>
                <% end %>
              <% else %>
                <%= status.status_meaning %>
              <% end %>
            </td>
            <td>
              <% if status.status_meaning.present? %>
                <%= button_to 'New description', destroy_status_path(status), method: :patch, class: "btn btn-default btn-default btn-block" %>
              <% end %>
            <td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="col-xs-12 box">
  <h4>Create Status Code</h4>
  <%= form_for @status, url: new_status_path, method: :post, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "New status meaning" %>
      <%= f.text_field :status_meaning %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>