<%= form_for(@entry_code) do |f| %>
  <% if @entry_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry_code.errors.count, "error") %> prohibited this entry_code from being saved:</h2>

      <ul>
      <% @entry_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
