<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @entry_code.code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @entry_code.active %>
</p>

<%= link_to 'Edit', edit_entry_code_path(@entry_code) %> |
<%= link_to 'Back', entry_codes_path %>
