<head>
<meta charset="UTF-8">
<meta name="description" content="Get started with Project Borrow in San Francisco">
<meta name="robots" content="noodp">
</head>

  <% if @signup_parent.tos != true || @signup_parent.streetone.blank? || @signup_parent.streettwo.blank? || @signup_parent.zipcode.blank? %>

    <div class="col-xs-12" style="padding-bottom:2%;">
      <h4><%="Step 1 of 2: Welcome #{session[:signup_email]}!"%></h4>
      <p style="font-style:italic;">As they say, help us help you! Tell us more about yourself below so we can match you up with the right borrower or lender. We are people-against-spam-and-photos-of-grandma-on-the-Net. Feel free to read out full <%= link_to "privacy policy here", policy_path, {style: 'color:#428bca', target: "_blank" }%>.</p>
    </div>

    <%= render "layouts/signupform" %>

  <% else %>

    <div class="col-xs-12" style="padding-bottom:3%;">
      <h4><%="Step 1 of 2: Welcome back #{@signup_parent.email}!"%></h4>
      <p style="font-style:italic;">We love you for coming back! You know the drill, tell us what you're here to do today.</p>
    </div>

    <div class="col-xs-12 box">
      <div class="col-xs-6">
        <% if @signup_parent.requests.select { |r| r.borrows.where(status1: [1,2,3]).present? }.count > 0 %>
          <%= button_to "Woohoo! Ready to borrow!", manage_request_path,  method: "get", class: "btn btn-primary btn-large btn-block", id: "borrow" %>
        <% else %>
          <%= button_to "Woohoo! Ready to borrow!", new_request_path,  method: "get", class: "btn btn-warning btn-large btn-block", id: "borrow" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <% if @signup_parent.inventories.present? %>
          <%= button_to "Yayhay! Ready to lend!", manage_inventory_path,  method: "get", class: "btn btn-warning btn-large btn-block", id: "lend" %>
        <% else %>
          <%= button_to "Yayhay! Ready to lend!", new_inventory_path,  method: "get", class: "btn btn-warning btn-large btn-block", id: "lend" %>
        <% end %>
      </div>
    </div>
  <% end %>
