
  <% if @signup.streetone.blank? %>

    <div class="col-xs-12" style="padding-bottom:3%;">
      <h4><%="Hello #{session[:signup_email]}! Help us help you with just a little more info!"%></h4>
    </div>

    <%= render "layouts/signupform" %>

  <% else %>

    <div class="col-xs-12" style="padding-bottom:3%;">
      <h4><%="Welcome back #{@signup.email}! What would you like to do today?"%></h4>
    </div>

    <div class="col-xs-12 box">
      <div class="col-xs-6">
        <%= button_to "I want to borrow!", new_request_path, method: "get", class: "btn btn-primary btn-large btn-block" %>
      </div>
      <div class="col-xs-6">
        <%= button_to "I want to lend!", new_inventory_path,  method: "get", class: "btn btn-warning btn-large btn-block" %>
      </div>
    </div>
  <% end %>
