<div class="container">
  <% if @signup.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@signup.errors.count, "error") %>.
        </div>
        <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <div class="row">


    <h3>Glad you like our idea, we'll keep you posted as we grow and evolve!</h3></br>
  

    <div class="col-md-6">
      
      <%= form_for @signup do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "First and Last Name" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>
        </div>

        <%= f.submit "Talk to you soon!", class: "btn btn-primary btn-large btn-block" %>
      
      <% end %>
    </div>

  </div>
</div>
