<div class="container">
  <% if @signup.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <p>The form contains <%= pluralize(@signup.errors.count, "error") %>:</p>
        </br>
        <ul>
        <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
      </div>
  <% end %>
  
  <div class="row">


    <h4>Glad you like our idea, we'll keep you posted as we grow and evolve!</h4></br>
  

    <div class="col-md-6 col-md-offset-3">
      
      <%= form_for @signup do |f| %>

        <div class="form-group">
          <%= f.label :name, "First and last name" %>
          <%= f.text_field :name, class: "form-control", placeholder: "A name is better than a number" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", placeholder: "Your real email; don't worry we'll keep it under lock and key" %>
        </div>

        <div class="form-group">
          <%= f.label :heard, "How did you hear about us? (Optional)" %>
          <%= f.text_field :heard, class: "form-control", placeholder: "Tell us who the little birdie was, they might just get a treat" %>
        </div>

        <%= f.submit "Talk to you soon!", class: "btn btn-primary btn-large btn-block" %>
      
      <% end %>
    </div>

  </div>
</div>
