<div class="container-fluid vert-table">
    <div class="vert-tablecell" style="background-color: #2E9AFE;">

        <div class="col-xs-6 col-xs-offset-3 opaque-container">
          <div class="row">
            <div class="col-xs-12">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
          </div>

          <% if @signup.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  <p>The form contains <%= pluralize(@signup.errors.count, "error") %>:</p>
                </br>
                <ul>
                <% @signup.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
                </div>
              </div>
          <% end %>
          
          <div class="row">


            <h4>Thanks for your support, <b><%="#{Signup.count}"%></b> people have signed up!</h4>
            </br>
          

            <div class="col-xs-12">
              
              <%= form_for @signup, url: signups_path do |f| %>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: "form-control", placeholder: "Your real email; don't worry we'll keep it under lock and key" %>
                </div>

                <div class="form-group">
                  <%= f.label :heard, "How did you hear about us? (Optional)" %>
                  <%= f.text_field :heard, class: "form-control", placeholder: "Tell us who the little birdie was, they might just get a treat" %>
                </div>

                <%= f.submit "Talk to you soon!", class: "btn btn-primary btn-large btn-block" %>
              
              <% end %>
              
              </br>
            </div>

            <div class="col-xs-8">
              <p style="font-size:85%;"><i>If you refer the <b>86th</b> person to sign up, both of you will get a gift!</i></p>
            </div>
            <div class="col-xs-4">
                <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                      <a class="addthis_button_email"></a>
                      <a class="addthis_button_facebook"></a>
                      <a class="addthis_button_twitter"></a>
                      <a class="addthis_button_linkedin"></a>
                      <a class="addthis_button_google_plusone_share"></a>
                      <a class="addthis_button_pinterest_share"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530ee7046fcbd127"></script>
                <!-- AddThis Button END -->
            </div>

          </div>
        </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47062117-1', 'borrows.herokuapp.com');
  ga('send', 'pageview');

</script>

<%= debug(params) if Rails.env.development? %>
</body>
</html>