<head>
<meta charset="UTF-8">
<meta name="description" content="Share with friends for free. Camping gear (tents, sleeping pads, sleeping bags, backpacks), park and picnic gear (portable grills, chairs, shade structures), household tools (electric drills), housewares and kitchen appliances (blenders, food processors, vacuums), and more. A great way to save money, declutter your life, be eco-conscious and environmentally sensitive, and have a good time.">
<meta name="robots" content="noodp">
</head>

  <%= render partial: "layouts/errors", locals: { obj: @signup} %>
  <%= render 'layouts/flash' %>

  <div class="col-xs-12">
    <div class="col-xs-7 horiz">
      <iframe width="480" height="360" src="//www.youtube.com/embed/pSLPXBDZaCA?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-xs-5">
      <ul style="font-size:130%;">
        <li>No more awkward messages; only borrow from friends who have already offered to share</li>
        <br>
        <li>No more forgetting, losing, or damaging things; we coordinate the entire process</li>
        <br>
        <li>No more inconveniences and excuses, sign up with Facebook and someting</li>
      </ul>

      <div class="col-xs-12">
        <%= form_for @signup, url: signups_path(@signup), method: :post, :html => {:autocomplete => "off"} do |f| %>
          <div class="col-xs-9">
            <div class="form-group">
              <%= f.text_field :email, class: "form-control", id: "signup_email1", placeholder: "Enter your email to get started" %>
            </div>
          </div>

          <div class="col-xs-3">
            <%= f.submit "Go!", class: "btn btn-success btn-large btn-block", id: "signup1" %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12">
      <hr>
      <h3 style="font-size:120%">Play with these pictures to check out what our early users have already borrowed!</h3>
    </div>

    <div class="col-xs-12" style="padding-top:5%; padding-bottom:5%;" %>
      <div class="photopile-wrapper">
        <ul class="photopile">
          <% Dir.glob("app/assets/images/Borrower photos/*").map do |path| %>
            <li><%= link_to(image_tag("Borrower photos/#{ File.basename(path) }", class: "img-responsive", alt: "#{ File.basename(path, ".jpg") }", title: "#{ File.basename(path, ".jpg") }"), "#", class: "thumbnail", style: "margin:0") %></li>
          <% end %>
        </ul>
      </div>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
      <%= javascript_include_tag "photopile", "jquery.ui.touch-punch.min" %>
      <%= stylesheet_link_tag "photopile" %>
    </div>

  </div>
