
  <% if @signup.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'layouts/flash' %>

  <div class="col-xs-12" style="z-index:100;">
    <%= form_for @signup do |f| %>
      <div class="col-xs-9">
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email to get started" %>
        </div>
      </div>

      <div class="col-xs-3">
        <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 photopile-background" style="padding-top:7%; padding-bottom:7%;" %>
    <div class="photopile-wrapper">
      <ul class="photopile">
        <% Dir.glob("app/assets/images/Borrower photos/Borrower photos/*").map do |path| %>
          <li><%= link_to(image_tag("Borrower photos/Borrower photos/#{ File.basename(path) }", class: "img-responsive", alt: "#{ File.basename(path, ".jpg") }", title: "#{ File.basename(path, ".jpg") }"), "#", class: "thumbnail", style: "margin:0") %></li>
          <%#= link_to(image_tag("Borrower photos/#{image.split('/').last}", class: "img-responsive", alt: "#{image.split('/').last}"[0..-5], title: "#{image.split('/').last}"[0..-5]), "#", class: "thumbnail", style: "margin:0") %>
        <% end %>
      </ul>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
    <%= javascript_include_tag "photopile", "jquery.ui.touch-punch.min" %>
    <%= stylesheet_link_tag "photopile" %>

  </div>

  <div class="col-xs-12 box" style="background-color:white; z-index:100;">
    <h4>It works quite simply, you see...</h4>

    <div class="col-xs-10 col-xs-offset-1" style="padding-top:2%">
      <%= image_tag "How it works.png", class: "img-responsive", alt: "how it works", title: "how it works" %>
    </div>

    <div class="col-xs-12" style="padding-top:3%">
      <p>We are an awesome community of borrowers and lenders united against <b>wastefulness</b>. Why buy something you'll only use once or twice? Why let things stew in your closets? 
        <ul>
          <li><b>For borrowers,</b> we list only items that lenders have, so you're never wasting your time. And we provide pick up/delivery if you recommend us to friends.</li>
          <li><b>For lenders,</b> we make sure you never forget who has what, and we help you get your items back in good shape.</li>
        </ul>
    </div>
  </div>

  <div class="col-xs-12" style="background-color: #BAB8BA; padding-top:2%; ">
    <%= form_for @signup do |f| %>
      <div class="col-xs-9">
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email to get started" %>
        </div>
      </div>

      <div class="col-xs-3">
        <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
      </div>
    <% end %>
  </div>  

