<%= render partial: "layouts/errors", locals: { obj: @item} %>

<div class="col-xs-12 box">
  <h4>Edit Item</h4>
  <h4><%= "Item: #{@item.name}" %></h4>
  <%= form_for @item, url: edit_itemlist_path(@item), method: :patch, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "Category" %>
      <%= f.collection_select :categorylist_id, Categorylist.all, :id, :name, {default: @item.categorylist_id, include_blank: @item.categorylist_id.nil?} %>
    </div>
    <div class="form-group">
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label "Request list?" %>
      <%= f.check_box :request_list %>
    </div>
    <div class="form-group">
      <%= f.label "Inventory list?" %>
      <%= f.check_box :inventory_list %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>