<% Categorylist.all.each do |c| %>
	<div class="col-xs-12">
		<h4><%= link_to "#{c.name}", edit_categorylist_path(c) %></h4>
		<table class="table table-condensed table-hover">
		    <thead>
		      <tr>
            <th>Number</th>
		        <th>Item</th>
		        <th>Request List?</th>
		        <th>Inventory List?</th>
		        <th>Action</th>
		        <th colspan="5"></th>
		      </tr>
		    </thead>

		    <tbody>
		      <% c.itemlists.each_with_index do |i, index| %>
		        <tr>
              <td><%= (index + 1) %></td> <!-- because index starts at 0 -->
		          <td><%= i.name %></td>
		          <td>
                <% if i.request_list == true %>
                  <span class="glyphicon glyphicon-check"></span> yes
                <% else %>
                  <span class="glyphicon glyphicon-unchecked"></span> no
                <% end %>
              </td>
		          <td>
                <% if i.inventory_list == true %>
                  <span class="glyphicon glyphicon-check"></span> yes
                <% else %>
                  <span class="glyphicon glyphicon-unchecked"></span> no
                <% end %>
		          <td><%= link_to "Update", edit_itemlist_path(i) %></td>
		        </tr>
		      <% end %>
		    </tbody>
		</table>
	</div>
<% end %>


<% if @item.errors.any? || @category.errors.any? %>
<div class="alert alert-danger">
  <ul>
  <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="col-xs-6 box">
  <h4>Create New Categories</h4>
  <%= form_for @category, url: new_categorylist_path, method: :post, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "Category name" %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>

<div class="col-xs-6 box">
  <h4>Create New Items</h4>
  <%= form_for @item, url: new_itemlist_path, method: :post, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "Category" %>
      <%= f.collection_select :categorylist_id, Categorylist.all, :id, :name %>
    </div>
    <div class="form-group">
      <%= f.label "Item name" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label "Request list?" %>
      <%= f.check_box :request_list %>
    </div>
    <div class="form-group">
      <%= f.label "Inventory list?" %>
      <%= f.check_box :inventory_list %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>