<%= render "layouts/errors", locals: { obj: @category } %>

<div class="col-xs-12 box">
  <h4>Edit Category</h4>
  <h4><%= "Category: #{@category.name}" %></h4>
  <%= form_for @category, url: edit_categorylist_path(@category), method: :patch, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>