<p>Total users: <%= @total_users.count %></p>

<ul>
	<li><%= "#{@users_with_2_friends}, #{(@users_with_2_friends.to_f / @total_users.count.to_f * 100).to_i }% of users have 0-2 friends" %></li>
	<li><%= "#{@users_with_5_friends}, #{(@users_with_5_friends.to_f / @total_users.count.to_f * 100).to_i }% of users have 3-5 friends" %></li>
	<li><%= "#{@users_with_10_friends}, #{(@users_with_10_friends.to_f / @total_users.count.to_f * 100).to_i }% of users have 6-10 friends" %></li>
	<li><%= "#{@users_with_tons_friends}, #{(@users_with_tons_friends.to_f / @total_users.count.to_f * 100).to_i }% of users have >10 friends" %></li>
	<li><%= "#{@users_with_revoked_access}, #{(@users_with_revoked_access.to_f / @total_users.count.to_f * 100).to_i }% of users have revoked access" %></li>

</ul>

<p>Cities: <%= @cities.uniq %></p>