<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p><%= "Connecting the two of you so you can make sharing magic happen!"%></p>
	<ul>
	<li><%= "<b>Lender:</b> #{@lender.email}, located at #{@lender.streetone.capitalize} and #{@lender.streettwo.capitalize} in #{@lender_city}".html_safe %></li>
	<li><%= "<b>Borrower:</b> #{@borrower_email}, located at #{@borrower_streetone} and #{@borrower_streettwo} in #{@borrower_city}".html_safe %></li>
	<li><%= "<b>Item:</b> #{@item.capitalize}".html_safe %></li>
	<%= "<li><b>Item description from lender:</b> #{@inventory_item.description}</li>".html_safe if @inventory_item.description.present? %>
	<li><%= "<b>Pick Up Date:</b> #{@pickupdate}".html_safe %></li>
	<li><%= "<b>Return Date:</b> #{@returndate}".html_safe %></li>
	</ul>

<p>Just some reminders on the process:<p>
	<ul>
		<li><%= "<b>Borrowers:</b> For some Internet fame, snap a pic of yourself and the #{@item} in action, we may put it on our homepage!".html_safe %></li>
		<li><%= "<b>Borrowers:</b> If you cannot coordinate a time to get the #{@item}, let me know ASAP so I can try to find a replacement.".html_safe %></li>
		<li>We recommend both parties check the condition of items before and after the borrow. Borrowers, if for whatever reason the item will not suit your purposes, don't take it, let us know and we'll try to find you a replacement. Please respect and care for the items of others!</li>
		<li>We'll remind you both when it's time to return</li>
	</ul>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>