<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p><%= "Connecting the two of you so you can make sharing magic happen!"%></p>
	<ul>
	<li><%= "<b>Lender:</b> #{@lender_email}".html_safe %></li>
	<li><%= "<b>Borrower:</b> #{@requestrecord.signup.email}".html_safe %></li>
	<li><%= "<b>Item:</b> #{@item}".html_safe %></li>
	<li><%= "<b>Pick Up Date:</b> #{@requestrecord.pickupdate.to_date}".html_safe %></li>
	<li><%= "<b>Return Date:</b> #{@requestrecord.returndate.to_date}".html_safe %></li>
	</ul>

<p>Just some reminders on the process:<p>
	<ul>
		<li><%= "Borrowers: For some Internet fame, snap a pic of yourself and the #{@item} in action, we may put it on our homepage!" %></li>
		<li><%= "Borrowers: If you cannot coordinate a time to get the #{@item}, let me know ASAP so I can try to find a replacement."%>
		<li>We recommend both parties check the items to avoid issues with liability. Please respect and care for the items of others!</li>
	</ul>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>