<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p><%= "Oh how the time flies; just wanted to connect you both for the return of:"%></p>
	<ul>
	<li><%= "<b>Lender:</b> #{@lender.email}, located at #{@lender.streetone.capitalize} and #{@lender.streettwo.capitalize} in #{@lender_city}".html_safe %></li>
	<li><%= "<b>Borrower:</b> #{@borrower_email}, located at #{@borrower_streetone} and #{@borrower_streettwo} in #{@borrower_city}".html_safe %></li>
	<li><%= "<b>Item:</b> #{@item.capitalize}".html_safe %></li>
	<%= "<li><b>Item description from lender:</b> #{@inventory_item.description}</li>".html_safe if @inventory_item.description.present? %>
	</ul>

<p>As well, I just wanted to quickly follow up on:</p>

<ul>
	<li><b>...being a lender!</b> If you had a good experience with Project Borrow, I hope you will become a lender as well! Just enter your email on <%= link_to 'the site', 'http://www.projectborrow.com/?utm_source=james@projectborrow&utm_medium=email&utm_term=june&utm_campaign=post%20borrow%20lending' %>, and this time click the orange "I want to lend!" button, the process will take less than 1 minute!</li>
	<li><b>...improving this service.</b> If this was your first experience with Project Borrow, I'd love your feedback on a survey that will take ~1 minute. Borrowers, <%= link_to 'click here', 'https://docs.google.com/forms/d/116rkhbOiafYI82lBesl-3v9LB1iIYah2rv_D8Y_rz4Q/viewform?usp=send_form', id: 'borrower_survey' %>; lenders, <%= link_to 'click here', 'https://docs.google.com/forms/d/17znNQgaU7HaJEqxoHgzo16yEMy4DDH8gr4OEG1tlUEU/viewform?usp=send_form', id: 'lender_survey' %>.
	<li><b>...photos!</b> If you took any photos of you using the items you borrowed, and are open to having these photos used on our site, please email them to me!</li>
</ul>

<p>Thank you, hope you'll use Project Borrow again!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>