          <% if @requestrecord.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  <p>The form contains <%= pluralize(@requestrecord.errors.count, "error") %>:</p>
                </br>
                <ul>
                <% @requestrecord.errors.each do |attribute, message| %>
                    <% if attribute == :items %>
                      <li><%= "#{message}" %></li>
                    <% elsif attribute == :borrow_date %>
                      <li><%= "#{message}" %></li>
                    <% elsif attribute == :email %>
                      <li><%= "Email #{message}" %></li>
                    <% elsif attribute == :addysdeliver %>
                      <li><%= "Neighborhood #{message}" %></li>  
                    <!--
                    <%# elsif attribute == :name %>
                      <li><%#= "Name #{message}" %></li>
                    <%# elsif attribute == :addysdeliver %>
                      <li><%#= "Delivery address #{message}" %></li>
                    <%# elsif attribute == :timedeliver %>
                      <li><%#= "Delivery dates and times #{message}" %></li>
                    -->
                    <% end %>
                <% end %>
                </ul>
                </div>
              </div>
          <% end %>

          <div class="row">

            <div class="col-xs-10 col-xs-offset-1">
              <%= render "layouts/howto" %>
            </div>

            <div class="col-xs-12">
              <hr>
              <h3><%= @pagetitle %></h3></br>
            </div>

            
                   
              <%= form_for @requestrecord, :html=> {:id => 'form'} do |f| %>

                <div class="col-xs-12">
                  <p><b>Items we have available</b></p>
                </div>

                <% @availableitems.each do |category, list| %>
                  <div class="col-xs-2">
                    <div class="form-group box">
                      <h5> <%="#{category}"%> </h5>
                        <% list.each do |thing| %>
                          <%= f.check_box(:items, {:multiple => true}, "#{thing}") %>
                          <%= f.label(:items, "#{thing}") %>
                          </br>
                        <% end %>
                    </div>
                  </div>  
                <% end %>

                <div class="col-xs-12">

                  <div class="form-group">
                    <%= f.label "Item(s) needed by: " %>
                    <%= date_select(:request, :startdate, default: @requestrecord.startdate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
                    <%= f.label " and will be returned on: " %>
                    <%= date_select(:request, :enddate, default: @requestrecord.enddate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
                  </div>

                  <div class="form-group">
                    <%= f.label :detail, "Features requested (optional)" %>
                    <%= f.text_field :detail, class: "form-control", placeholder: "What features do you need (e.g., size, capacity) for the item(s) that you selected above?" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :heard, "Referral (optional)" %>
                    <%= f.text_field :heard, class: "form-control", placeholder: "How did you hear about this service?" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :addysdeliver, "Neighborhood"%>
                    <%= f.text_field :addysdeliver, class: "form-control", placeholder: "We will try to find items closer to you!" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email, "Email we will use to contact you" %>
                    <%= f.text_field :email, class: "form-control", placeholder: "How do we get in touch with you?" %>
                  </div>

                    <!--
                    =begin
                    <div class="form-group">
                      <%#= f.label :name, "First and last name" %>
                      <%#= f.text_field :name, class: "form-control", placeholder: "How do we address you?" %>
                    </div>

                    <div class="form-group">
                      <%#= f.check_box :paydeliver %>
                      <%#= f.label :paydeliver, "Pay $10 for item delivery" %>
                    </div>

                    <div class="form-group">
                      <%#= f.label :timedeliver, "Delivery dates and times"%>
                      <%#= f.text_field :timedeliver, class: "form-control", placeholder: "What are some dates & times that work for you?" %>
                    </div>

                    <div class="form-group">
                      <%#= f.label :instrucdeliver, "Special delivery instructions (optional)"%>
                      <%#= f.text_field :instrucdeliver, class: "form-control", placeholder: "What are some specific instructions? E.g., leave with building attendant" %>
                    </div>
                  </div>
                  -->

                  <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block" %>
                </div>
              
              <% end %>

            <div class="col-xs-12" style="padding-top:1%;">
              <p style="font-size:80%;"><i>Note: When you hit "Go!" you will also be asked if you'd like to add a browser extension (Google Chrome users only) that will remind you to borrow from this service when you're browsing eCommerce sites for the items that we have listed on this page. We will continue to process your request whether you accept or decline the extension.</i></p> 
            </div>

          </div>
          

<script>

  /*Loads delivery instructions part of form only if request_paydevlier is checked*/

  /*
    var checkbox = document.getElementById('request_paydeliver');
    var delivery_div = document.getElementById('delivery');
    var showHiddenDiv = function(){
       if(checkbox.checked) {
         delivery_div.style['display'] = 'block';
       } else {
         delivery_div.style['display'] = 'none';
       } 
    }
    checkbox.onclick = showHiddenDiv;
    showHiddenDiv();
  */

    $('form').submit(function(ev) { 
       if (!document.getElementById('extension-is-installed')) {
            chrome.webstore.install();
        }
    });
 
</script>