<% if @requestrecord.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <p>Please correct the following error(s):</p>
      </br>
      <ul>
      <% @requestrecord.errors.each do |attribute, message| %>
          <% if attribute == :borrow_date %>
            <li><%= "#{message}" %></li>
          <% elsif attribute == :addysdeliver %>
            <li><%= "Neighborhood #{message}" %></li>  
          <% elsif attribute == :items %>
            <li><%= "#{message}" %></li>
          <% end %>
      <% end %>
      </ul>
      </div>
    </div>
<% end %>

  <div class="row">
         
    <%= form_for @requestrecord, :html=> {:id => 'form'} do |f| %>

      <div class="col-xs-12">
        <p><b>Items we have available</b></p>
      </div>

      <% @availableitems.each do |category, list| %>

        <div class="col-xs-2">
          <div class="form-group box">
            <h5> <%="#{category}"%> </h5>
              <% list.each do |thing| %>
                <%= number_field_tag "transaction[][#{thing}]", :quantity, min: 0, placeholder: @transactionparams ? @transactionparams["#{thing}"] : 0 %>
                <%= label_tag "#{thing}" %>
                </br>
              <% end %>
          </div>
        </div>  
      <% end %>
      
      <div class="col-xs-12">

        <div class="form-group">
          <%= f.label "Item(s) needed by: " %>
          <%= date_select(:request, :startdate, default: @requestrecord.startdate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
          <%= f.label " and will be returned on: " %>
          <%= date_select(:request, :enddate, default: @requestrecord.enddate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
        </div>

        <div class="form-group">
          <%= f.label :detail, "Features requested (optional)" %>
          <%= f.text_field :detail, class: "form-control", placeholder: "What features do you need (e.g., size, capacity) for the item(s) that you selected above?" %>
        </div>

        <div class="form-group">
          <%= f.label :heard, "Referral (optional)" %>
          <%= f.text_field :heard, class: "form-control", placeholder: "How did you hear about this service?" %>
        </div>

        <div class="form-group">
          <%= f.label :addysdeliver, "Neighborhood"%>
          <%= f.text_field :addysdeliver, class: "form-control", placeholder: "We will try to find items closer to you!" %>
        </div>

        <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block" %>
      </div>
    
    <% end %>

  <div class="col-xs-12" style="padding-top:1%;">
    <p style="font-size:80%;"><i>Note: When you hit "Go!" you will also be asked if you'd like to add a browser extension (Google Chrome users only) that will remind you to borrow from this service when you're browsing eCommerce sites for the items that we have listed on this page. We will continue to process your request whether you accept or decline the extension.</i></p> 
  </div>
</div>

<!-- Good enough for now, above runs into problems because @transactionparams traces the last submit, therefore if user submits the 2nd time with different transactionparams (or just hits submit without filling anything in), the memory cache is cleared and the old info is lost (remember that here, no information is being submitted or posted to DB until it's right, so I can't just call a count on DB instances). This is further complicated when considering the edit actions, because since placeholders aren't real, even if they're shown, unless the user re-enters the number, it will register an error, therefore the edit actions deleted for now-->

<script>

/*Loads delivery instructions part of form only if request_paydevlier is checked*/

/*
var checkbox = document.getElementById('request_paydeliver');
var delivery_div = document.getElementById('delivery');
var showHiddenDiv = function(){
if(checkbox.checked) {
delivery_div.style['display'] = 'block';
} else {
delivery_div.style['display'] = 'none';
} 
}
checkbox.onclick = showHiddenDiv;
showHiddenDiv();
*/

$('form').submit(function(ev) { 
if (!document.getElementById('extension-is-installed')) {
  chrome.webstore.install();
}
});

</script>