<div class="container">
  <% if @requestrecord.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <p>The form contains <%= pluralize(@requestrecord.errors.count, "error") %>:</p>
        </br>
        <ul>
        <% @requestrecord.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
      </div>
  <% end %>


  <div class="row">

    <h4>Update your request</h4></br>  
       
      <%= form_for @requestrecord, url: request_path(@requestrecord.edit_id) do |f| %>

        <% @inventory.each do |category, list| %>
          <div class="col-xs-3">
            <div class="form-group box">
              <h5> <%="#{category.upcase}"%> </h5>
                <% list.each do |thing| %>
                  <%= f.radio_button(:item, "#{thing}") %>
                  <%= f.label(:item, "#{thing}") %>
                  </br>
                <% end %>
            </div>
          </div>  
        <% end %>

        <div class="col-xs-12">

          <div class="form-group">
            <%= f.label :detail, "Desired specifications" %>
            <%= f.text_field :detail, class: "form-control", placeholder: "What specifications do you need (e.g., size, capacity)?" %>
          </div>

          <div class="form-group">
            <%= f.label :rentdate, "Dates of request" %>
            <%= f.text_field :rentdate, class: "form-control", placeholder: "From when to when do you need the item?" %>
          </div>

          <div class="form-group">
            <%= f.label :name, "First and last name" %>
            <%= f.text_field :name, class: "form-control", placeholder: "How do we address you?" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", placeholder: "How do we get in touch with you?" %>
          </div>

          <div class="checkbox">
            <%= f.check_box :paydeliver %>
            <%= f.label :paydeliver, "Pay $35 for item pick up, delivery, and return" %>
          </div>

          <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block" %>
        </div>
      
      <% end %>
    </div>
    
  </div>
  

  
</div>
