<div class="container-fluid vert-table">
    <div class="vert-tablecell" style="background-color: #BDDEFC;">

        <div class="container opaque-container">

		  <div class="col-xs-10 col-xs-offset-1">
		    <%= render "layouts/howto" %>
		  </div>

		  <div class="col-xs-12">
		    <hr>
		    <h3><%= @pagetitle %></h3></br>
		    <h4><%= session[:signup_email] %></h4></br>
		    <h5><%= "#{@signup_parent.streetone}, #{@signup_parent.streettwo}, #{@signup_parent.zipcode}" %></h5>
		  </div>
        	
          <%= render "requests/requestform" %>

        </div>
    </div>
</div>