<%= render 'layouts/flash' %>

<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'transactions', action: 'index')  do |f| %>
    <div class="form group">
      <%= f.label :status1_eq %>
      <%= f.collection_select :status1_eq, Status.includes(:statuscategories).where("statuscategories.name LIKE ?", "%1%"), :id, :name, {default: @q.status1, include_blank: @q.status1.nil?} %>
    </div>
    <div class="form group">
      <%= f.label :status2_eq %>
      <%= f.collection_select :status2_eq, Status.includes(:statuscategories).where("statuscategories.name LIKE ?", "%2%"), :id, :name, {default: @q.status2, include_blank: @q.status2.nil?} %>
    </div>
    <div class="form group">
      <%= f.label :inventory_id_eq, "Item ID equals"%>
      <%= f.search_field :inventory_id_eq %>
    </div>
    <div class="form group">
      <%= f.label :name_eq %>
      <%= f.select :name_eq, Transaction.all.pluck(:name).uniq, :include_blank => true %>
    </div>
    <div class="form group">
      <%= f.label :request_signup_email_cont %>
      <%= f.search_field :request_signup_email_cont %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_eq, "Pickup date on" %>
      <%= f.search_field :request_pickupdate_eq %>
      <%= f.label :request_returndate_eq, "Return date on" %>
      <%= f.search_field :request_returndate_eq %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_gteq, "Pickup date on or after"%>
      <%= f.search_field :request_pickupdate_gteq %>
      <%= f.label :request_returndate_lteq, "Return date on or before"%>
      <%= f.search_field :request_returndate_lteq %>
    </div>
    <div class="form group">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "Transac ID") %></th>
        <th><%= sort_link(@q, :created_at, "Created at") %></th>
        <th><%= sort_link(@q, :status1, "Status 1") %></th>
        <th><%= sort_link(@q, :status2, "Status 2") %></th>
        <th><%= sort_link(@q, :inventory_id, "Inventory ID") %></th>
        <th><%= sort_link(@q, :name, "Item") %></th>
        <th><%= sort_link(@q, 'requests.signups.email', "Signup Email") %></th>
        <th><%= sort_link(@q, 'requests.pickupdate', "Pickup date") %></th>
        <th><%= sort_link(@q, 'requests.returndate', "Return date") %></th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.id %></td>
          <td><%= transaction.created_at.to_date %></td>
          <td><%= Status.find_by_id(transaction.status1).name %></td>
          <td><%= Status.find_by_id(transaction.status2).name %></td>
          <td><%= transaction.item_id %></td>
          <td><%= transaction.name %></td>
          <td><%= transaction.request.signup.email %></td>
          <td><%= transaction.request.pickupdate.to_date %></td>
          <td><%= transaction.request.returndate.to_date %></td>
          <td>
            <%= link_to 'Update', edit_transaction_path(transaction) %> <!--update status and inventory_id, but everything can be udpated. DO NOT REMOVE, remove is handled by a specific status code -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

