  
  <% if @borrow.errors.any? %>
    <div class="alert alert-danger">
      <p>Please correct the following error(s):</p>
      <ul>
        <% @borrow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "layouts/flash" %>

  <div class="col-xs-12 box">
    <h4>Now editing</h4>
    <h5><%= "Item: #{Itemlist.find_by_id(@borrow.itemlist_id).name}" %></h5>
    <h5><%= "Borrower email: #{@borrow.request.signup.email}" %> </h5>
    <h5><%= "Lender email + description: #{Inventory.find_by_id(@borrow.inventory_id).signup.email} + #{Inventory.find_by_id(@borrow.inventory_id).description}" %></h5>
    <h5><%= "Request message: #{@borrow.request.detail}" %></h5>  
    <%= form_for @borrow, url: {action: 'update'} do |f| %>
      <div class="form-group">
        <%= f.label "Status 1" %>
        <%= f.collection_select :status1, Status.where(statuscategory_id:[1,2]).all, :id, :name, {default: Status.find_by_id(@borrow.status1).name } %>
      </div>  
      <div class="form-group">
        <%= f.label "Status 2" %>
        <%= f.collection_select :status2, Status.where(statuscategory_id:[3,4]).all, :id, :name, {default: @borrow.status2.present? ? Status.find_by_id(@borrow.status2).name : "", include_blank: true} %>
      </div> 
      <div class="form-group">
        <%= f.label "Lender Email" %>
        <%= f.select :inventory_id, options_for_select(Inventory.where(itemlist_id: @borrow.itemlist_id).collect { |i| ["#{i.signup.email} + #{i.description}", i.id] }), {include_blank: true} %>
        <!-- couldn't get default to work for above --> 
      </div> 
      <%= f.fields_for :request do |r| %>
        <div class="form-group">
          <%= r.label "Request pickup date" %>
          <%= r.text_field :pickupdate %>
        </div>
        <div class="form-group">
          <%= r.label "Request return date" %>
          <%= r.text_field :returndate %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Update!", class: "btn btn-primary btn-large btn-block" %>
      </div>
    <% end %>
  </div>