<%= render 'layouts/flash' %>

<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'borrows', action: 'index')  do |f| %>
    <div class="form group">
      <%= f.label :status1_eq %>
      <%= f.select :status1_eq, Status.where(id: Borrow.all.pluck("status1").uniq).pluck("name"), {default: @q.status1, include_blank: @q.status1.nil?} %>
    </div>
    <div class="form group">
      <%= f.label :status2_eq %>
      <%= f.select :status2_eq, Status.where(id: Borrow.all.pluck("status2").uniq).pluck("name"), {default: @q.status2, include_blank: @q.status2.nil?} %>
    </div>
    <div class="form group">
      <%= f.label :inventory_id_cont, "Lender email" %>
      <!-- not working, i'm not passing a value to :inventory_id -->
      <%= f.select :inventory_id, Signup.select { |s| s.inventories.ids.select{ |id| Borrow.all.pluck("inventory_id").uniq.include? id }.present? }.collect(&:email), {default: @q.inventory_id, include_blank: @q.inventory_id.nil?} %>
    </div>
    <div class="form group">
      <%= f.label "Item" %>
      <%= f.select :itemlist_id_eq, Itemlist.where(id: Borrow.all.pluck(:itemlist_id).uniq).pluck("name"), :include_blank => true %>
    </div>
    <div class="form group">
      <%= f.label :request_signup_email_cont, "Borrower email contains" %>
      <%= f.search_field :request_signup_email_cont %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_eq, "Pickup date on" %>
      <%= f.search_field :request_pickupdate_eq %>
      <%= f.label :request_returndate_eq, "Return date on" %>
      <%= f.search_field :request_returndate_eq %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_gteq, "Pickup date on or after"%>
      <%= f.search_field :request_pickupdate_gteq %>
      <%= f.label :request_returndate_lteq, "Return date on or before"%>
      <%= f.search_field :request_returndate_lteq %>
    </div>
    <div class="form group">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "Borrow ID") %></th>
        <th><%= sort_link(@q, :created_at, "Created at") %></th>
        <th><%= sort_link(@q, :itemlist_id, "Item") %></th>
        <th><%= sort_link(@q, :status1, "Status 1") %></th>
        <th><%= sort_link(@q, :status2, "Status 2") %></th>
        <th><%= sort_link(@q, :inventory_id, "Lender Email") %></th>
        <th><%= sort_link(@q, 'requests.signups.email', "Borrower Email") %></th>
        <th><%= sort_link(@q, 'requests.pickupdate', "Pickup date") %></th>
        <th><%= sort_link(@q, 'requests.returndate', "Return date") %></th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @borrows.each do |borrow| %>
        <tr>
          <td><%= borrow.id %></td>
          <td><%= borrow.created_at.to_date %></td>
          <td><%= Itemlist.find_by_id(borrow.itemlist_id).name %></td>
          <td><%= Status.find_by_id(borrow.status1).name %></td>
          <td>
            <% if borrow.status2.present? %>
              <%= Status.find_by_id(borrow.status2).name %>
            <% else %>
            <% end %>  
          </td>
          <td><%= borrow.inventory_id.present? ? Inventory.find_by_id(borrow.inventory_id).signup.email : "N/A" %></td>
          <td><%= borrow.request.signup.email %></td>
          <td><%= borrow.request.pickupdate.to_date %></td>
          <td><%= borrow.request.returndate.to_date %></td>
          <td>
            <% if borrow.status1 == 1 %>
              <!-- Updates not allowed until system has made a connection or until searching expires, this last part hasn't been built yet -->
            <% else %>
              <%= link_to 'Update', edit_borrow_path(borrow) %> <!--update status and inventory_id, but everything can be udpated. DO NOT REMOVE, remove is handled by a specific status code -->
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

