<%= render 'layouts/flash' %>

<div class="col-xs-12 box">
  <%= search_form_for @q, url: url_for(controller: 'borrows', action: 'index')  do |f| %>
    <div class="form group">
      <%= f.label :status1_eq %>
      <%= f.collection_select :status1_eq, Status.where(statuscategory_id: [1,2]).select { |s| Borrow.all.pluck("status1").include? s.id }, :id, :name, include_blank: true %>
    </div>
    <div class="form group">
      <%= f.label :status2_eq %>
      <%= f.collection_select :status2_eq, Status.where(statuscategory_id: [3,4]).select { |s| Borrow.all.pluck("status2").include? s.id }, :id, :name, include_blank: true %>
    </div>
    <div class="form group">
      <%= f.label :inventory_id_eq_any, "Lender email" %>
      <%= f.collection_select :inventory_id_eq_any, Hash[@inventory_id_collection.sort], :last, :first, include_blank: true, multiple: true %>
    </div>
    <div class="form group">
      <%= f.label "Item" %>
      <%= f.collection_select :itemlist_id_eq, Itemlist.select { |i| Borrow.all.pluck("itemlist_id").include? i.id }, :id, :name, include_blank: true %>
    </div>
    <div class="form group">
      <%= f.label :request_signup_email_cont, "Borrower email contains" %>
      <%= f.search_field :request_signup_email_cont %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_eq, "Pickup date on" %>
      <%= f.search_field :request_pickupdate_eq %>
      <%= f.label :request_returndate_eq, "Return date on" %>
      <%= f.search_field :request_returndate_eq %>
    </div>
    <div class="form group">
      <%= f.label :request_pickupdate_gteq, "Pickup date on or after"%>
      <%= f.search_field :request_pickupdate_gteq %>
      <%= f.label :request_returndate_lteq, "Return date on or before"%>
      <%= f.search_field :request_returndate_lteq %>
    </div>
    <div class="form group">
      <%= f.label :request_signup_zipcode_eq_any, "County is" %>
      <%= f.collection_select :request_signup_zipcode_eq_any, Hash[@zipcode_collection.sort], :last, :first, include_blank: true, multiple: true %>
    </div>
    <div class="form group">
      <%= f.submit "Search", class: "btn btn-success btn-large btn-block", id: "search" %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "Borrow ID") %></th>
        <th>Multiple</th>
        <th><%= sort_link(@q, :created_at, "Created at") %></th>
        <th><%= sort_link(@q, :itemlist_id, "Item") %></th>
        <th><%= sort_link(@q, :status1, "Status 1") %></th>
        <th><%= sort_link(@q, :status2, "Status 2") %></th>
        <th>Lender email</th>
        <th><%= sort_link(@q, 'requests.signups.email', "Borrower Email") %></th>
        <th><%= sort_link(@q, 'requests.pickupdate', "Pickup date") %></th>
        <th><%= sort_link(@q, 'requests.returndate', "Return date") %></th>
        <th>County
        </th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @borrows.each do |borrow| %>
        <tr id="row">
          <td><%= borrow.id %></td>
          <td><%= borrow.multiple %></td>
          <td><%= borrow.created_at.present? ? borrow.created_at.to_date : "N/A" %></td>
          <td><%= Itemlist.find_by_id(borrow.itemlist_id).present? ? Itemlist.find_by_id(borrow.itemlist_id).name : "N/A"%></td>
          <td><%= Status.find_by_id(borrow.status1).present? ? Status.find_by_id(borrow.status1).name : "N/A" %></td>
          <td><%= ( borrow.status2.present? && Status.find_by_id(borrow.status2).present? ) ? Status.find_by_id(borrow.status2).name : "N/A" %></td>
          <td><%= borrow.inventory_id.present? ? Inventory.find_by_id(borrow.inventory_id).signup.email : "N/A" %></td>
          <td><%= borrow.request.signup.email %></td>
          <td><%= borrow.request.pickupdate.present? ? borrow.request.pickupdate.to_date : "N/A" %></td>
          <td><%= borrow.request.returndate.present? ? borrow.request.returndate.to_date : "N/A" %></td>
          <td><%= Geography.find_by_zipcode(borrow.request.signup.zipcode).present? ? Geography.find_by_zipcode(borrow.request.signup.zipcode).county : "N/A" %></td>
          <td>
            <% if borrow.status1 == 1 %>
              <!-- Updates not allowed until system has made a connection or until searching expires, this last part hasn't been built yet -->
            <% else %>
              <%= link_to 'Update', edit_borrow_path(borrow) %> <!--update status and inventory_id, but everything can be udpated. DO NOT REMOVE, remove is handled by a specific status code -->
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

