<%= render "layouts/errors", locals: { obj: @statuscategory } %>

<div class="col-xs-12 box">
  <h4>Edit Category</h4>
  <h4><%= "Category: #{@statuscategory.name}" %></h4>
  <h5 style="font-style:italic">Warning, category names are hardcoded</h5>
  <%= form_for @statuscategory, url: edit_statuscategory_path(@statuscategory), method: :patch, :html => {:autocomplete => "off"} do |f| %>
    <div class="form-group">
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Go!", class: "btn btn-success btn-large btn-block"%>
  <% end %>
</div>