
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
      <ul>
      <% @signup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12" style="background:blue;">
    <%= form_for @signup do |f| %>
      <div class="col-xs-9">
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email here" %>
        </div>
      </div>

      <div class="col-xs-3">
        <%= f.submit "Get started!" %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 horiz">
    <p>Please do share us with friends!</p>
    <br>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_pinterest_share"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530ee7046fcbd127"></script>
    <!-- AddThis Button END -->
  </div>

  <div class="col-xs-12">
    <% @images.each do |image, caption| %>
      <div class="col-xs-4">
        <%= image_tag "#{image}.jpg", class: "img-responsive", alt: "#{image}", title: "#{image}" %>
        <h2><%= "#{caption}" %></h2>
      </div>
    <% end %>
  </div>

