<%= render partial: "layouts/errors", locals: { obj: @signup_parent } %>

<div class="col-xs-12 box", id="new_inventory">  
  <%= form_tag inventories_path method: :post do %>
    <% Categorylist.includes(:itemlists).where(itemlists: { inventory_list: true }).each do |n| %>
      <div class="col-xs-4">
        <div class="form-group" style="font-size:75%">
          <h5> <%= n.name %> </h5>
            <% n.itemlists.each do |i| %>
                <%= number_field_tag "inventory[#{i.id}]", :quantity, min: 0, value: @inventory_params ? @inventory_params[i] : 0, class: "shrink_num_field" %>
                <%= label_tag i.name, i.name %>
              </br>
            <% end %>
        </div>
      </div>  
    <% end %>

    <div class="form-group col-xs-12">
      <%= submit_tag "Go!", class: "btn btn-warning btn-large btn-block", id: "submit_lend", data: { disable_with: 'Upload in progress, take a breather =)'} %>
    </div>
  
  <% end %>
</div>