
<% if @signup_parent.errors.any? %>
  <div class="alert alert-danger">
    <p>Please correct the following error(s):</p>
    <ul>
    <% @signup_parent.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="col-xs-12 box">  
  <%= form_tag inventories_path method: :post do %>
    <% Itemlist.all.pluck("category").uniq.each do |c| %>
      <% if Itemlist.where(category: c, inventory_list: true).count > 0 %>
        <div class="col-xs-4">
          <div class="form-group" style="font-size:75%">
            <h5> <%= c %> </h5>
              <% Itemlist.where(category: c, inventory_list: true).pluck("name").each do |i| %>
                  <%= number_field_tag i, :quantity, min: 0, placeholder: 0, class: "shrink_num_field" %>
                  <%= label_tag i, i %>
                </br>
              <% end %>
          </div>
        </div>  
      <% end %>
    <% end %>

    <div class="form-group col-xs-12">
      <%= submit_tag "Go!", class: "btn btn-warning btn-large btn-block", data: { disable_with: 'Upload in progress, take a breather =)'} %>
    </div>
  
  <% end %>
</div>