  
  <% if @requestrecord.errors.any? %>
    <div class="alert alert-danger">
      <p>Please correct the following error(s):</p>
      <ul>
        <% @requestrecord.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "layouts/flash" %>

  <div class="col-xs-12 box">   
    <%= form_for @requestrecord, :url => { action: 'create' } do |f| %>
      <% @itemlist.each do |category, list| %>
        <div class="col-xs-4">
          <div class="form-group" style="font-size:80%" >
            <h5> <%="#{category}"%> </h5>
            <% list.each do |thing| %>
              <%= number_field_tag "transaction[][#{thing}]", :quantity, min: 0, value: @transactionparams ? @transactionparams[thing] : 0, class: "shrink_num_field" %>
              <%= label_tag thing %>
              </br>
            <% end %>
          </div>
        </div>  
      <% end %>

      <div class="form-group col-xs-12">
        <%= f.label :detail, "Features requested (optional)" %>
        <%= f.text_field :detail, class: "form-control", placeholder: "What features do you need (e.g., size, capacity) for the item(s) that you selected above?" %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.label "Pick up:" %>
        <%= date_select(:request, :pickupdate, default: @requestrecord.pickupdate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
        <%= f.label "Return:" %>
        <%= date_select(:request, :returndate, default: @requestrecord.returndate, start_year: Date.today.year, end_year: Date.today.year + 1) %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block", data: { confirm: 'Please review everything before submitting' }  %>
      </div>

    <% end %>
  </div>