  <%= render "layouts/errors", locals: { obj: @requestrecord } %>
  <%= render "layouts/flash" %>

  <div class="col-xs-12 box">   
    <%= form_for @requestrecord, :url => { action: 'create' }, :html => {:id => "new_request", :autocomplete => "off"}  do |f| %>
      <% Categorylist.includes(:itemlists).where(itemlists: { request_list: true }).each do |n| %>
        <div class="col-xs-4">
          <div class="form-group" style="font-size:75%">
            <h5> <%= n.name %> </h5>
              <% n.itemlists.each do |i| %>
                  <%= number_field_tag "borrow[][#{i.id}]", :quantity, min: 0, value: @borrowparams ? @borrowparams[i] : 0, class: "shrink_num_field" %>
                  <%= label_tag i.name, i.name %>
                </br>
              <% end %>
          </div>
        </div>  
      <% end %>

      <div class="form-group col-xs-12">
        <%= f.label :detail, "Personal message to lender (optional)" %>
        <%= f.text_area :detail, class: "form-control", placeholder: "Tell the lender your plans or any detailed product specifications you need for the item(s) above" %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.label "Pick up:" %>
        <%= date_select(:request, :pickupdate, default: @requestrecord.pickupdate, include_blank: @requestrecord.pickupdate.nil?, start_year: Date.today.year, end_year: Date.today.year + 1) %>
        <%= f.label "Return:" %>
        <%= date_select(:request, :returndate, default: @requestrecord.returndate, include_blank: @requestrecord.pickupdate.nil?, start_year: Date.today.year, end_year: Date.today.year + 1) %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.submit "Go!", class: "btn btn-primary btn-large btn-block", id: "submit_request", data: { confirm: 'Please review everything before submitting', disable_with: 'Looking for lenders now, take a breather =)' }  %>
      </div>

    <% end %>
  </div>