	
	<div class="col-xs-3" style="padding-left:1%">
		<%= image_tag("Tagphoto.png", height: "250") %>
	</div>

	<div class="col-xs-9" style='padding:0'>
		<div class="photobanner-container">
			<div class="photobanner">
			<%= image_tag("Quote 1.png", class: "first-photo-in-banner testyphotos") %>
			<%= image_tag("Photo A.png", class: "testyphotos") %>
			<%= image_tag("Quote 2.png", class: "testyphotos") %>
			<%= image_tag("Photo B.png", class: "testyphotos") %>
			<%= image_tag("Quote 3.png", class: "testyphotos") %>
			<%= image_tag("Photo C.png", class: "testyphotos") %>
			<%= image_tag("Quote 4.png", class: "testyphotos") %>
			<%= image_tag("Photo E.jpg", class: "testyphotos") %>

			<!-- begin repetition to provide overlap & infinite looping-->

			<%= image_tag("Quote 1.png", class: "testyphotos") %>
			<%= image_tag("Photo A.png", class: "testyphotos") %>
			<%= image_tag("Quote 2.png", class: "testyphotos") %>
			<%= image_tag("Photo B.png", class: "testyphotos") %>
			</div>
		</div>
	</div>
