<!DOCTYPE html>
<html>
<head>
  <title>Borrows</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">New Request</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!--<div class="col-md-offset-3 col-md-6">-->
    <div class="span12"
      <% flash.each do |key, value| %>
        <% if flash[:jumbo] %>
          <p><b>Thanks! We'll respond in about one business day.</b></p>
          <p>Here is the information you submitted in case you need to change anything; we'll also email you this link.</p>
        <% end %>
        <% if !flash[:jumbo] %>
          <div class="alert alert-<%= key %>"><%= value %></div> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47062117-1', 'borrows.herokuapp.com');
  ga('send', 'pageview');

</script>

<%= debug(params) if Rails.env.development? %>
</body>
</html>


